/* /path/to/your/flask_project/static/styles/styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e8f5e9; /* Světle zelená */
}
header {
    background-color: #2e7d32; /* Tmavě zelená */
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}
nav {
    background-color: #388e3c; /* Středně zelená */
    overflow: hidden;
}
nav a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}
nav a:hover {
    background-color: #4caf50; /* Světlejší zelená */
}
main {
    padding: 2rem;
}
section {
    background-color: #fff;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;
}
th, td {
    padding: 0.5rem;
    border: 1px solid #c8e6c9; /* Světle zelené rámečky */
    text-align: left;
}
th {
    background-color: #2e7d32; /* Tmavě zelená */
    color: #fff;
}
.button-container {
    text-align: center;
    margin-top: 1rem;
}
button {
    padding: 0.7rem;
    background-color: #2e7d32; /* Tmavě zelená */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #4caf50; /* Světlejší zelená */
}
footer {
    background-color: #2e7d32; /* Tmavě zelená */
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
